<!DOCTYPE html>
<html lang="pt-br" ng-app="alurapic">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Alurapic</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="css/efeitos.css">
	<script src="js/lib/angular.js"></script>
	<script src="js/main.js"></script>
	<script src="js/controllers/fotos-controller.js"></script>
	<script type="text/javascript" src="js/directives/minhas-diretivas.js"></script>
</head>
<body ng-controller="FotosController">
	<div class="container">
		<div class="jumbotron">
			<h1 class="text-center">Alurapic</h1>
		</div>
		<div class="row">
			<div class="col-md-12">
				<form>
					<input class="form-control" ng-model="filtro" placeholder="filtrar" type="" name="">
				</form>
			</div>
		</div>
		<div class="row">
			<meu-painel class="col-md-4 painel-animado" ng-repeat="foto in fotos | filter: filtro" titulo="{{foto.titulo}}">
			<img class="img-responsive center-block" src="{{foto.url}}" alt="{{foto.titulo}}">
		</meu-painel>
		</div>
	</div>
</body>
</html>